#miner-pool
  - @miner_pool.miners.each_with_index do |miner, miner_index|
    .left.half-width=  render partial: 'shared/miner_hashrate_table', locals: { miner: miner, miner_index: miner_index }
    .mobile-clear
    .left.half-width= render partial: 'shared/miner_devices_table', locals: { miner: miner, miner_index: miner_index }
    .clear

    %hr