- unless @bad_chain_elements.empty?
  - @bad_chain_elements.uniq!

  #bad-chain-elements.warning
    Bad chain element(s) detected on:
    %ul
      - @bad_chain_elements.each do |miner|
        %li= miner.host + ':' + miner.port.to_s

- unless @miner_unavailable.empty?
  - @miner_unavailable.uniq!

  #miner-unavailable.warning
    One or more miners is unavailable:
    %ul
      - @miner_unavailable.each do |miner|
        %li= miner.host + ':' + miner.port.to_s

- unless @bad_chain_elements.empty? && @miner_unavailable.empty?
  %audio(id="audio-warning")
    %source(src="audio/warning.mp3" type="audio/mp3")

  :javascript
    playWarningSound();