%h1 CgminerManager

- unless @miner_pool.miners.empty?
  #updated= "Updated: " + Time.zone.now.to_s

  #content
    = render partial: 'miner_pool'
    = render partial: 'summary'

:javascript
  var reload = function() {
    $('#updated').addClass('updating').text('Updating...');
    location.reload();
  };

  $(document).ready(function() {
    setInterval(reload, manager.reload_interval * 1000);
  });