#updated
  %b Updated:
  %span= Time.zone.now.to_s

%h1 CgminerManager

- unless @miner_pool.miners.empty?
  = render partial: 'miner_pool'
  = render partial: 'summary'

:javascript
  var reload = function() {
    $('#updated').addClass('updating').text('Updating...');
    location.reload();
  };

  $(document).ready(function() {
    setInterval(reload, config.reload_interval * 1000);
  });