#pools
  - pools = @miner_data[@miner_id][:pools].first[:pools]
  %ul
    - pools.each_with_index do |pool, index|
      - if id = pool.delete('pool')
        %li= link_to 'POOL' + id.to_s, '#pool-' + index.to_s

  - pools.each_with_index do |pool, index|
    %table(cellpadding="0" cellspacing="0" id="pool-#{index.to_s}" class="pool")
      - pool.to_a.in_groups_of(2) do |group|
        %tr
          - group.each do |key, value|
            %td.text-left.bold= key
            %td.text-right= value

:javascript
  $(function() {
    $('#pools').tabs();
  });