#stats
  - stats = @miner_data[@miner_id][:stats].first[:stats]
  %ul
    - stats.each_with_index do |stat, index|
      - stat.delete(:stats)
      - id = stat.delete(:id)
      %li= link_to id, '#stat-' + index.to_s

  - stats.each_with_index do |stat, index|
    %table(cellpadding="0" cellspacing="0" id="stat-#{index.to_s}" class="stat")
      - stat.to_a.in_groups_of(2) do |group|
        %tr
          - group.each do |key, value|
            %td.text-left.bold= key
            %td.text-right= value

:javascript
  $(function() {
    $('#stats').tabs();
  });