- if defined?(CgminerMonitor)
  - width = target == 'miner' ? '850' : '864'
  - url   = target == 'miner' ? 'miner_hashrate.json?miner_id=' + @miner_id.to_s : 'local_hashrate.json'

  #pool-stale-hashrate-graph
    %h2 Pool Stale
    %canvas(id="pool_stale_hashrate" width="#{width}" height="400")

  :javascript
    $(document).ready(function(){
      $.getJSON('/cgminer_monitor/api/v1/graph_data/#{url}', function(hash_rate_response){
        if (hash_rate_response && hash_rate_response.length > 1) {
          var labels = [];
          var hash_rates_5s = [];
          var hash_rates_av = [];
          var error_rates   = [];

          $.each(hash_rate_response, function(index, response) {
            date = new Date(response[0] * 1000);
            if (index % 5 == 0 || index == 0 ) {
              minutes = "00" + date.getMinutes().toString();
              labels.push(date.getHours() + ':' + minutes.slice(-2));
            } else {
              labels.push("");
            }
            hash_rates_5s.push(response[1] * response[6]);
            hash_rates_av.push(response[2] * response[6]);
            error_rates.push(response[6]);
          });

          var data = {
            labels: labels,
            datasets: [
              {
                label: 'Pool Stale Hashrate',
                fillColor: "yellow",
                data: hash_rates_5s
              }
            ]
          }

          var options = {
            pointHitDetectionRadius : 1,
            animation               : false,
            tooltipTemplate         : "<%= value.toFixed(2) %> GH/s",
            multiTooltipTemplate    : "<%= value.toFixed(2) %> GH/s",
            responsive              : true
          };

          var ctx = $("#pool_stale_hashrate").get(0).getContext("2d");
          var myLineChart = new Chart(ctx).Line(data, options);

          if ("#{target}" == "miner") {
            injectHashrateTable(hash_rates_5s, hash_rates_av, error_rates, '#pool-stale-hashrate-graph');
          }
        } else {
          $("#pool-stale-hashrate-graph").remove();
        }
      });
    });
