#footer
  .text-center
    %table
      %tr
        %td cgminer_monitor
        %td(id="cgminer-monitor-status")
      %tr
        %td pool size
        %td(id="pool-size-status")

:javascript
  updateCgminerMonitorStatus();
  updatePoolSizeStatus();