@media screen and (max-width: 1300px) {
  #ribbon {
    display: none !important;
  }
}

@media screen and (max-width: 700px) {
  body {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }

  h1 {
    font-size: 1.75em;
  }

  td {
    padding: 8px;
  }

  .mobile-hidden {
    display: none;
  }

  .mobile-clear {
    clear: both;
  }

  .quarter-width {
    width: 50%;
  }

  .half-width {
    width: 100%;
  }

  #manager-content,
  #tabs,
  #devices,
  #pools,
  #stats {
    padding: 0;
  }

  #manager-content > div,
  #tabs > div,
  #devices > div,
  #pools > div,
  #stats > div {
    padding: 4px !important;
  }

  #header {
    padding: 4px;
  }

  #header h1 {
    margin: 0;
    margin-bottom: 4px;
  }

  #summary {
    padding-left: 2px;
    padding-right: 2px;
  }

  #summary #total-ghs,
  #summary #error-rate,
  #summary #rejected-rate,
  #summary #temperature,
  #summary #pool-stale {
    margin-right: 0px;
    margin-left: 0px;
  }

  #miner-pool {
    padding: 0;
    margin: 0;
  }
}
