#warnings
  %audio(id="audio-warning")
    %source(src="audio/warning.mp3" type="audio/mp3")

  - if @bad_chain_elements && !@bad_chain_elements.empty?
    - @bad_chain_elements.uniq!

    #bad-chain-elements.warning
      Bad chain element(s) detected on:
      %ul
        - @bad_chain_elements.each do |miner|
          %li= miner.host + ':' + miner.port.to_s

    :javascript
      playWarningSound();
