- if @view[:banner]
  .alert.alert-warning= @view[:banner]

#manager
  %h2 cgminer_manager dashboard

  %table.miners
    %thead
      %tr
        %th Miner
        %th Status
        %th Updated
    %tbody
      - @view[:miners].each do |miner|
        - miner_id = miner.is_a?(Hash) ? (miner[:id] || miner['id']) : miner.to_s
        - snapshot = @view[:snapshots][miner_id]
        %tr
          %td!= link_to(miner_id, miner_url(miner_id))
          %td
            - if snapshot.nil? || (snapshot[:summary].is_a?(Hash) && snapshot[:summary][:error])
              %span.offline offline
            - else
              %span.online online
          %td
            - summary = snapshot && snapshot[:summary]
            - if summary.is_a?(Hash) && summary[:fetched_at]
              %span.updated= summary[:fetched_at]
            - else
              %span.waiting waiting for first poll
