/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */

body {
  font-size: 0.7em;
}

a {
  color: blue !important;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

table {
  width: 100%;
  padding-top: 10px;
}

table tr:hover {
  background: #efefef;
}

td {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ccc;
}

label {
  font-weight: bold;
}

.clear {
  clear: both;
}

.ui-widget .ui-widget {
  font-size: 0.9em;
}

.average-ghs {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.danger {
  color: red !important;
  font-weight: bold !important;
}

#updated-container {
  float: right;
  text-align: right;
}

#updated.updating {
  font-weight: bold;
  color: green;
}