// Place all the styles related to the Manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;
}

td {
  margin: 0;
  padding: 10px;
  border-top: 1px solid;
}

#updated {
  float: right;
}

#updated.updating {
  font-weight: bold;
  color: green;
}

#content {
  width: 900px;
  margin: 0 auto;
}

#summary {
  #total-ghs, #error-rate, #temperature, #general {
    width: 290px;
    float: left;
  }
  
  #total-ghs .average-ghs {
    font-size: 0.9em;
  }
}

#general {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid;
}

.clear {
  clear: both;
}