// Place all the styles related to the Manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  width: 900px;
  margin: 0 auto;
}

#summary {
  #total-ghs, #error-rate, #rejected-rate, #temperature, #pool-stale, #pool-network {
    width: 418px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  table td:first-child {
    font-weight: bold;
    text-align: left;
    width: 75px;
  }
}

#miner-summary {
  #overview-table {
    display: table;
    width: 100%;

    td {
      width: 25%;
    }
  }
}

#general {
  margin-top: 10px;

  table {
    width: 300px;
    margin: 0 auto;

    td {
      border: 0;
      padding: 0;
      width: 50%;
    }

    td:first-child {
      text-align: right;
    }
    td:last-child {
      padding-left: 10px;
      text-align: left;
    }
  }
}

#miner-pool tbody tr:hover {
  cursor: pointer;
}

#manager_results {
  table {
    td {
      width: 50%;
    }

    td:first-child {
      font-weight: bold;
    }
  }
}