// Place all the styles related to the Miner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#miner {
  #miner-summary,
  #devices,
  #pools,
  #stats,
  #config {
    table {
      display: table;
      width: 100%;
      padding: 0;

      td {
        width: 50%;
      }
      td:first-child {
        font-weight: bold;
      }
    }
  }
}

#manage-pools {
  input[type=text] {
    width: 300px;
  }
}

#miner_results {
  table {
    td {
      width: 50%;
    }

    td:first-child {
      font-weight: bold;
    }
  }
}